body {
  background-image: url('./images/benmaster_summoners_rift_river_from_top_1024x768_e5eab701-e138-49dc-8e48-1af57eaee8df.png');
  background-size: 100%;
}

.x {
  animation: x 2s linear infinite alternate;
}

.y {
  opacity: 0;
  animation: y 4s linear infinite alternate;
}

.y:hover, .b:hover {
  opacity: 0.25;
  border: 1em solid yellow ;
  border-radius: 100%;
}

.a {
  animation: x 3s linear infinite alternate;
}

.b {
  opacity: 0;
  animation: y 5s linear infinite alternate;
}

@keyframes x {
  100% {
    transform: translateX(1024px);
  }
}

@keyframes y {
  100% {
    transform: translateY(550px);
  }
}

.lg-btn {
  width: 200px;
  height: 100px;
  margin-left: 40%;
  font-size: large;
  background-color: #61dafb;
}