.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url('https://cdn.discordapp.com/attachments/1008571202022944778/1089917399538606180/benmaster_summoners_rift_river_from_top_1024x768_e5eab701-e138-49dc-8e48-1af57eaee8df.png');
  background-size: 100%;
}

.x {
  animation: x 2s linear infinite alternate;
}

.y {
  opacity: 0;
  animation: y 4s linear infinite alternate;
}

.y:hover, .b:hover {
  opacity: 0.25;
  border: 1em solid yellow ;
  border-radius: 100%;
}

.a {
  animation: x 3s linear infinite alternate;
}

.b {
  opacity: 0;
  animation: y 5s linear infinite alternate;
}

@keyframes x {
  100% {
    transform: translateX(1024px);
  }
}

@keyframes y {
  100% {
    transform: translateY(550px);
  }
}

.lg-btn {
  width: 200px;
  height: 100px;
  margin-left: 40%;
  font-size: large;
  background-color: #61dafb;
}